In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlt
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.core.display import display, HTML
import statistics

In [2]:
combined_state_data = pd.read_csv("State_Combined_Df.csv", header=0)
combined_state_data = combined_state_data.drop(['Unnamed: 0'], axis=1)

In [3]:
for i in combined_state_data.index:
    combined_state_data.at[i,'AmorTerm'] = combined_state_data.at[i,'AmorTerm']

In [4]:
combined_state_data['PMT'] = "Nan"
for i in combined_state_data.index:
    combined_state_data.at[i,'PMT'] = np.round(abs(np.pmt(rate=(combined_state_data.at[i,'Rate']/12), fv=0, nper=combined_state_data.at[i,'AmorTerm'], pv=combined_state_data.at[i,'Amount'])), 2)

In [7]:
states = set(combined_state_data["StateName"])
clean_states = list(states)
clean_states.remove(clean_states[0])

In [15]:
df = combined_state_data
df["PMT"] = df.PMT.astype(float)

In [17]:
df1 = df[(df["Income"] > 10000) & (df1["Income"] < 400000)]
df1 = df1[(df1["IncRat"] != 1) & (df1["IncRat"] < 15)]
df = df1

In [19]:
df.head()

,Year,FIPSStateCode,FIPSCountyCode,Income,IncRat,UPB,LTV,MortDate,Purpose,Product,...,AmorTerm,NumBor,Occup,Rate,Amount,Front,Back,BoCreditScor,StateName,PMT
0,2017,72,15,60588,3.2928,71967,0.89,2016,2,1,...,180,2,1,0.0288,75000,0.1118,0.2265,5,Puerto Rico,513.62
1,2017,66,10,210264,4.0513,514837,0.94,2016,2,1,...,360,2,1,0.0325,520000,0.1446,0.2370,5,Guam,2263.07
2,2017,66,10,114744,2.2109,425563,1.04,2016,1,1,...,360,2,1,0.0325,429831,0.2312,0.3152,5,Guam,1870.65
3,2017,48,439,164988,2.3403,251800,0.75,2016,2,1,...,360,2,1,0.0338,251800,0.1657,0.3430,4,Texas,1113.90
4,2017,6,99,56160,1.0537,290613,0.85,2016,2,1,...,360,2,1,0.0325,290613,0.4062,0.4224,3,California,1264.77

In [ ]:
"""b_2011 = df[df["Year"] == 2011]
b_2011_temp = b_2011.groupby("StateName").agg(lambda x: x.value_counts().index[0])
b_2011_temp
b11 = b_2011_temp[["Income" , "IncRat", "Amount", "PMT"]]
b11
b11["Rate"] = b_2011["Rate"].groupby(df["StateName"]).mean()
b11["LTV"] = b_2011["LTV"].groupby(df["StateName"]).mean()"""

Feature   Distributions


| Feature | Distributions   |
|------|------|
|   Income  | Positive|
| IncRat | Positive   |
| Amount | Positive   |
| PMT | Positive   |
| LTV | Normal   |
| Rate | Normal   |
| BoCreditScor | Discrete   |
| AmorTerm | Discrete   |


##### Positive  and negative  Distributions= mode
##### Normal  Distributions = mean

In [21]:
def createBaseLine(year):
    b_year = df[df["Year"] == year]
    b_year_temp = b_year.groupby("StateName").agg(lambda x: x.value_counts().index[0])
    byear = b_year_temp[["Income" , "IncRat", "Amount", "PMT"]]
    byear["Rate"] = b_year["Rate"].groupby(df["StateName"]).mean()
    byear["LTV"] = b_year["LTV"].groupby(df["StateName"]).mean()
    return byear

In [34]:
baseline_2010 =  createBaseLine(2010)
baseline_2011 =  createBaseLine(2011)
baseline_2012 =  createBaseLine(2012)
baseline_2013 =  createBaseLine(2013)
baseline_2014 =  createBaseLine(2014)
baseline_2015 =  createBaseLine(2015)
baseline_2016 =  createBaseLine(2016)
baseline_2017 =  createBaseLine(2017)

/Users/chaitanyapotnis/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/chaitanyapotnis/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [44]:
b = [baseline_2010,baseline_2011,baseline_2012,baseline_2013,baseline_2014,baseline_2015,baseline_2016,baseline_2017]
year = [2010,2011,2012,2013,2014,2015,2016,2017]
for base,year in zip(b,year):
    
    print("Baseline profile Perstate for year: ",year)
    print(base.head())
    print("\n\n")

Baseline profile Perstate for year:  2010
            Income  IncRat  Amount      PMT      Rate       LTV
StateName
Alabama      77424  0.5070  136248   761.61  0.043421  0.874993
Arizona      75000  1.1261  222010  1092.16  0.044488  0.840673
Arkansas     61776  0.6320   83000   494.98  0.042739  0.687122
California  120000  2.0823  417000  3645.69  0.044400  0.771651
Colorado     37440  1.2451  100000   733.69  0.044517  0.720947



Baseline profile Perstate for year:  2011
            Income  IncRat  Amount      PMT      Rate       LTV
StateName
Alabama     150000  1.0993   79310   993.72  0.042770  0.733950
Arizona     120000  4.0194  417000   983.88  0.043811  0.716071
Arkansas     92500  0.7386   80000  1533.42  0.041213  0.730817
California  185004  1.4220  697500  3484.57  0.043698  0.692842
Colorado     60000  1.2276  417000  2175.27  0.043472  0.763464



Baseline profile Perstate for year:  2012
            Income  IncRat  Amount      PMT      Rate       LTV
StateName
Alabama      91248  1.0806   83000  1270.67  0.036095  0.774500
Alaska       79071  1.3405  256677  1490.20  0.038625  0.845000
Arizona     113000  1.7018  417000  2022.20  0.036726  0.715677
Arkansas    112668  3.8331   80000  1418.01  0.034210  0.699126
California  155000  1.9070  625500  2607.88  0.038451  0.677531



Baseline profile Perstate for year:  2013
            Income  IncRat  Amount      PMT      Rate       LTV
StateName
Alabama     140703  1.2792  111300  1271.17  0.034447  0.730000
Alaska      117022  1.6459  357000  1629.11  0.036300  0.840000
Arizona      90000  1.4469  272000  1139.55  0.039524  0.738714
Arkansas    274516  2.6974  300000   420.93  0.036095  0.723810
California   69412  0.6739  417000  1814.81  0.038204  0.668797



Baseline profile Perstate for year:  2014
            Income  IncRat  Amount      PMT      Rate       LTV
StateName
Alabama      20703  0.3474  230200  1575.47  0.040083  0.769444
Arizona      62832  1.0102  417000   432.08  0.041381  0.745106
Arkansas    175423  1.7465  180000  1088.51  0.039716  0.770400
California  120000  1.6506  625500  3169.32  0.041197  0.692497
Colorado    160000  0.4328  417000  2051.39  0.042282  0.735619



Baseline profile Perstate for year:  2015
            Income  IncRat  Amount      PMT      Rate       LTV
StateName
Alabama      80796  2.0414  151850  1549.20  0.034956  0.797778
Arizona     107520  1.7220  417000  1962.08  0.037852  0.755463
Arkansas     97087  2.6973  417000   510.48  0.035743  0.770000
California  120000  1.3994  417000  1931.19  0.038176  0.657485
Colorado     60000  0.9836  417000  1962.08  0.038658  0.748236



Baseline profile Perstate for year:  2016
            Income  IncRat  Amount      PMT      Rate       LTV
StateName
Alabama     185340  2.7630  268000  1740.83  0.032795  0.790635
Alaska      104964  1.2105  196500  1615.42  0.036283  0.811667
Arizona      48000  0.9036  417000  1962.08  0.035033  0.730826
Arkansas    119487  3.0456   70000  1128.05  0.034043  0.745217
California  120000  1.1650  417000  1872.52  0.036507  0.621480



Baseline profile Perstate for year:  2017
            Income  IncRat  Amount      PMT      Rate       LTV
StateName
Alabama     158000  1.2275  424100  1629.01  0.039576  0.831129
Alaska      254328  2.8385  340500  1852.46  0.037517  0.735000
Arizona      99996  0.7119  424100  1964.07  0.040066  0.736221
Arkansas     42494  1.8832  424000  1995.02  0.040468  0.797826
California  120000  1.2917  636150  3129.48  0.041253  0.669279